# Unmute if you want to include these directories

# -> Include resources directory
# Useful if you need to include resources,
# such as icons, audio files, or anything else...
#
# graft src/chatbox_osc/resources

# -> Include tests directory
#
# graft tests
